<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/reset.css" />
    <link rel="stylesheet" href="css/toggle.css" />
    <link rel="stylesheet" href="css/main.css" />
    <title>Index</title>
  </head>

  <body>
    <header id="header">
      <div class="container">
        <div id="header-container">
          <div id="logo-container">
            <div id="logo-image">
              <img src="img/logo.png" alt="logo" />
            </div>
            <div id="logo-title">
              <span>Croupier</span> <span>AssistanT</span>
            </div>
          </div>
          <div id="hamburger">
            <span></span>
            <span></span>
            <span></span>
          </div>
        </div>
      </div>
      <div id="side-menu"></div>
    </header>
    <main id="main-index">
      <section id="test-links">
        <div class="container">
          <h1><span>Welcome</span>, User!</h1>
          <div id="links-container">
            <button class="link-button" data-id="blackjack">
              <span>Blackjack</span>
              <img src="img/icons/bj-icon.png" alt="bj" />
            </button>
            <button class="link-button" data-id="roulette-pictures">
              <span>Roulette pictures</span>
              <img src="img/icons/roulette-icon.png" alt="bj" />
            </button>
          </div>
        </div>
      </section>
      <section id="test-params"></section>
    </main>

    <script src="js/main.js"></script>
    <script src="js/hamburger.js"></script>
    <script src="js/getTestParams.js"></script>
    <script src="js/test-links.js"></script>
  </body>
</html>
