#card-deck {
  width: 100%;
  /* height: 300px; */
  display: flex;
  flex-wrap: nowrap;
  /* overflow-x: scroll; */
  position: relative;
}

.card {
  width: 80%;
  /* height: 200px; */
  padding: 20px;
  background-color: white;
  box-shadow: 1px 3px 4px #8da4b7;
  /* margin-right: 10px; */
  border-radius: 3px;
  position: absolute;
  top: 10vw;
  left: 50%;
  transform: translateX(-50%);
  transition: transform 1s ease;
}

.card-title {
  text-align: center;
  font-size: min(6vw, 30px);
  margin-bottom: 30px;
  font-weight: 300;
}

.card-bet {
  text-align: center;
  font-size: min(15vw, 50px);
  font-weight: bold;
}

.card-index {
  position: absolute;
  right: 4px;
  bottom: 4px;
  font-size: 14px;
  font-weight: bold;
  color: var(--SECONDARY_COLOR);
  filter: opacity(0.3);
}

#button-container {
  display: flex;
  justify-content: space-between;
  gap: 4vw;
  margin: 4vw 0 0 0;
}

#button-container button {
  padding: 3vw 4vw;
  border-radius: 3px;
  border: 0;
  color: #fff;
  font-size: 5vw;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

#ready-to-test {
  background: var(--APPROVE_COLOR);
}

#not-ready-to-test {
  background: var(--ALERT_COLOR);
}
