body {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  background-color: #000;
  color: #fff;
  height: 100vh;
}
img {
  max-width: 90%;
}
